development:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_development
  pool: 5
  username: uauser
  password: uapassword
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_test
  pool: 5
  username: uauser
  password: uapassword
  host: localhost
  port: 5432

production:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_production
  pool: 5
  username: uauser
  password: uapassword
  host: localhost
  port: 5432
