development:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_analytics_development
  pool: 5
  username: username
  password: password
  host: ip
  port: port

test:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_analytics_test
  pool: 5
  username: user
  password: pass
  host: ip
  port: port

production:
  adapter: postgresql
  encoding: utf8
  database: pharaoh_analytics_production
  pool: 5
  username: user
  password: pass
  host: ip
  port: port
