<div class="container">
  <div class="row">
    <div class="col-md-6">
      <legend>Passenger Status</legend>
      <pre class="pre-terminal pre-lg">
        <%= simple_format @status %>
      </pre>
    </div>

    <div class="col-md-6">
      <legend>Passenger Memory Stats</legend>
      <pre class="pre-terminal pre-lg">
        <%= simple_format @memory %>
      </pre>
    </div>
  </div>
</div>