<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>Processes</legend>
      <pre class="pre-terminal">
        <%= simple_format @processes %>
      </pre>
    </div>
  </div>
</div>